<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new campground</title>
</head>
<body>
    <h1>Add a new campground!</h1>

    <form action="/campgrounds" method="POST">
    <div>
        <label for="title">Name: </label>
        <input type="text" name="campgrounds[title]" id="title">
    </div>
    <div>
        <label for="title">City and state: </label>
        <input type="text" name="campgrounds[location]" id="location">
    </div>
    <div>
        <label for="title">Add Description: </label>
        <input type="text" name="campgrounds[description]" id="description">
    </div>
        <button>Submit</button>
        
    </form>

    <footer>
        <a href="/campgrounds">All campgrounds</a>
    </footer>
    
</body>
</html>